# Prerequisites
*.d
build/*
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.cproject
.idea/
.project
.settings/
CMakeFiles/
CTestTestfile.cmake
Testing/
cmake-build-debug/
cmake_install.cmake
inconference.cbp
src/CMakeFiles/
src/CTestTestfile.cmake
src/cmake_install.cmake
test/CMakeFiles/
test/CTestTestfile.cmake
test/cmake_install.cmake
test/inconferenceTests
test/googletest-build/
test/googletest-src/
test/googletest-download/
